body{
    background-color: #FDFAF6;
}

#carrusel{
    padding-bottom: 10px;
}

.nav-link{
    color: black;
}

#fundacion, #pagina{
    padding-top: 10px;
}

#informacion{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#pie{
    background-color: #E4EFE7;
}